.bildboard {
    position: relative;
    padding-bottom: 85px;
    margin-bottom: 25px;

    @media(max-width: 1024px) {
        padding-bottom: 35px;
    }

    @media(max-width: 600px) {
        padding-bottom: 22px;
    }

    &__container {
        padding-top: 173px;
        padding-bottom: 268px;
        color: white;

        @media(max-width: 1024px) {
            padding-top: 72px;
            padding-bottom: 0px;
        }

        @media(max-width: 600px) {
            padding-top: 70px;
        }
    }

    &__quote {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            font-size: 18px;
            line-height: 27px;
        }

        @media(max-width: 600px) {
            font-size: 13px;
            line-height: 19px;
        }
    }

    &__title {
        font-size: 65px;
        line-height: 79px;
        margin-top: 4px;
        font-weight: 900;
        letter-spacing: 1.8px;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            font-size: 55px;
            max-width: 400px;
            width: 100%;
            letter-spacing: 1.7px;
            line-height: 63px;
            max-width: 421px;
            margin-top: 14px;
        }

        @media(max-width: 600px) {
            font-size: 35px;
            line-height: 43px;
            margin-top: 13px;
        }
    }

    &__txt {
        font-size: 19px;
        line-height: 29px;
        margin-top: 25px;
        font-weight: 500;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 21px;
            max-width: 428px;
            width: 100%;
            margin-top: 16px;
        }
    }

    &__inner {
        max-width: 760px;
    }

    &__item {

        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 52%;



        // @media(max-width: 1600px) {
        //     background-position: center;
        // }

        @media(max-width: 1024px) {
            background-position: 55% 71%;
            background-size: 186% auto;
        }

        @media(max-width: 640px) {
            background-position: 10% 50%;
            background-size: 186% 100%;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__slider {
        position: relative;
        z-index: 2;

        & .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 10px !important;
            background-color: $gray;
            opacity: .4;

            @media(max-width: 1024px) {
                width: 8px;
                height: 8px;
                margin: 0 9px !important;
            }

            @media(max-width: 600px) {
                width: 7px;
                height: 7px;
                margin: 0 7px !important;
            }
        }

        & .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 1024px) {
            margin-top: 35px;
        }

        @media(max-width: 600px) {
            margin-top: 81px;
        }
    }

    .btn {
        margin-top: 63px;
        padding: 28px 37px;

        @media(max-width: 1024px) {
            margin-top: 55px;
            padding: 24px 31px;
        }

        @media(max-width: 600px) {
            margin-top: 16px;
            padding: 17px 23px;

        }
    }
}