.about-slider {
    overflow: hidden;
    height: 608px;

    @media(max-width: 1235px) {
        height: 530px;
    }

    @media(max-width: 1024px) {
        height: 100%;
    }

    .swiper-slide {
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 1s ease;
    }
}