.btn {
    display: inline-block;
    transition: .4s ease;
    cursor: pointer;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
    font-size: 14px;
    line-height: 14px;
    width: auto;
    font-weight: 700;
    text-align: center;


    &--submit {
        padding: 16px 24px;
        border: 1.5px solid $orange;
        box-sizing: border-box;
        border-radius: 71px;
        background-color: white;
        color: $orange;

        @media(max-width: 600px) {
            background-color: $orange;
            color: white;
        }

        &:hover {
            background-color: $orange;
            color: white;
            border-color: $orange;

            @media(max-width: 600px) {
                background-color: white;
                border-color: $orange;
                color: $orange;
            }
        }
    }

    &--big {
        padding: 23px 32px;

        font-size: 18PX;
        letter-spacing: .7px;

        @media(max-width: 1024px) {
            font-size: 16px;
        }

        @media(max-width: 600px) {
            font-size: 12px;
            padding: 17px 32px;
        }
    }

    &--small {
        padding: 11px 23px;
        font-weight: 500;
        border: 1px solid $orange;



        &:hover {
            background-color: white;
            color: $orange;
        }
    }

    &--orange {
        background-color: $orange;
        color: white;

        &:hover {
            background-color: white;
            color: $orange;
        }
    }

    &--white {
        background-color: white;
        color: $orange;

        &:hover {
            background-color: $orange;
            color: white;
        }
    }

    &--cart {
        // box-shadow: none;
        // border: 1.5px solid $orange;
        // color: orange;
    }

}