@import "./node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "./normalize.scss";
@import "./colors.scss";
@import "./media.scss";
@import "./fonts.scss";
@import "./libs/libs.scss";
@import "./btn.scss";

* {
  box-sizing: border-box;
  outline: none !important;
}

:root {
  --wScroll: 0px;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden !important;
  font-size: 16px;
  line-height: 21.6px;

  padding: 0 calc(var(--wScroll) - (100vw - 100%)) 0 0;

  @media(max-width: 1024px) {
    font-size: 14px;
    line-height: 20px;
  }
}

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: $black;
  font-weight: normal;
  overflow: hidden;
  background-color: #fff;
  word-wrap: break-word;
  overflow-x: hidden !important;
}

.b-page {
  overflow: hidden;
  padding-bottom: 376px;
  position: relative;
  min-height: 100vh;

  @media(max-width: 1024px) {
    padding-bottom: 321px;
  }

  @media(max-width: 600px) {
    padding-bottom: 311px;
  }

  @media(max-width: 500px) {
    padding-bottom: 589px;
  }
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding: 0 40px 0px;
  box-sizing: border-box;

  @media(max-width: 1024px) {
    padding: 0 30px 0px;
  }

  @media(max-width: 600px) {
    padding: 0 15px 0px;
  }
}

img {
  vertical-align: bottom;
}

.bgi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: .4s ease;
}

.clearfix::after,
.clearfix::before {
  content: '';
  display: table;
  clear: both;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

.title-1 {
  font-size: 45px;
  line-height: 64px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  @media(max-width: 1024px) {
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 1.6px;
  }

  @media(max-width: 600px) {
    font-size: 29px;
    line-height: 34px;
    letter-spacing: 0px;
  }
}

.title-2 {
  font-size: 42px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  @media(max-width: 1024px) {
    font-size: 38px;
  }

  @media(max-width: 600px) {
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}

.title-3 {
  font-size: 40px;
  line-height: 58px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.6px;

  @media(max-width: 1024px) {
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1.4px;
  }

  @media(max-width: 600px) {
    font-size: 25px;
  }
}

.title-4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 1.6px;

  @media(max-width: 1024px) {
    line-height: 50px;
  }

  @media(max-width: 600px) {
    line-height: 33px;
    font-size: 25px;
  }
}

.title-5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.b-margin {
  margin-top: 120px;
}

.b-link {
  font-weight: bold;
  text-decoration: underline;
  transition: linear 0.3s;

  &:hover {
    color: #6E5F5B;
  }

  &:active {
    color: #A98D7F;
  }
}

.b-note {
  font-style: italic;
  font-weight: bold;

  &__margin {
    margin: 40px 0;
  }

  &__half-margin {
    margin: 20px 0;
  }
}

.b-bold {
  font-weight: bold;
}

.b-svg {
  width: auto;
  height: auto;
}

.swiper-pagination-bullet {
  background-color: $orange;
  opacity: .4;
  transition: all 0.4s ease 0s;

  &:not(:last-child) {
    margin-right: 18px;

    @media(max-width: 600px) {
      margin-right: 14px;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.arr {
  position: relative;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 26px;
  transition: .4s ease;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, .1);
  cursor: pointer;

  @media(max-width: 600px) {
    display: none;
  }

  &:hover {
    background-color: #ff9f1c;

    .b-svg {
      fill: white;
    }
  }

  .b-svg {
    width: 28px;
    height: 15px;
    fill: #ff9f1c;
    transition: .4s ease;
  }

  &--next {
    transform: scale(-1, 1);
  }
}

.arrow {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  height: 100%;
  align-items: center;

  .dish__arr--next.swiper-button-disabled,
  .dish__arr--prev.swiper-button-disabled {
    opacity: 0;
  }
}

.pagination {
  margin: 0 35px;



  @media(max-width: 1023px) {
    display: flex;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $orange;
  opacity: 0.4;

  @media(max-width: 1024px) {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px;

  @media(max-width: 600px) {
    margin-right: 14px;
  }
}

.quantity {
  display: flex;
  align-items: center;
  max-width: 90px;
  width: 100%;
  justify-content: space-between;
  border: 1px solid $gray-4;
  padding: 10px 16px;
  height: 33px;
  border-radius: 15px;

  &__field {
    padding: 0;
    min-width: 39px;
    max-width: 39px;
    border-right: none;
    border-left: none;
    border-radius: 0;
    text-align: center;
    color: $orange;
    pointer-events: none;
  }

  button {
    display: block;
    width: 10px;
    height: 100%;
    padding: 0;
    background: transparent;
    cursor: pointer;

    .b-svg {
      height: 10px;
      width: 10px;
      display: block;
      fill: orange;
      transition: .2s ease;
    }

    &:hover {
      .b-svg {
        fill: $black;
      }
    }
  }
}

.locked {
  overflow: hidden !important;
  padding: 0 calc(var(--wScroll) - (100vw - 100%)) 0 0;
}

.btn-special {
  max-width: 117px;
  width: 100%;
  min-height: 38px;

  .btn {
    transition: none;
    transition: background .4s ease;
    box-shadow: none;
  }

  .quantity {
    display: none;
    opacity: 0;
    max-width: 100%;
    border-radius: 72px;
    height: 38px;
  }
}


.basket-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $orange;
  text-align: center;
  position: fixed;
  bottom: 25px;
  right: 30px;
  transition: .4s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  border-radius: 47px;
  border: 2.8px solid white;
  box-sizing: border-box;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.15);

  @media(max-width: 1024px) {
    opacity: 1;
    visibility: visible;
  }

  @media(max-width: 600px) {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    right: 15px;
    bottom: 15px;
  }

  &:hover {
    background-color: white;
    border-color: $orange;

    .b-svg {
      fill: $orange;
    }
  }

  .b-svg {
    fill: white;
    width: 54px;
    height: 48px;
    transition: .4s ease;

    @media(max-width: 600px) {
      height: 29px;
      width: 29px;
    }
  }

  span {
    min-width: 30px;
    height: 30px;
    background-color: $black-2;
    border-radius: 15px;
    font-size: 19px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 26px;

    @media(max-width: 600px) {
      min-width: 18px;
      height: 18px;
      right: 10px;
      top: 16px;
      right: 10px;
      top: 16px;
      font-size: 11px;
    }
  }
}

a {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: .4s ease;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: $orange;
  color: white;
  border-radius: 15px;
  top: -7px;
  right: -3px;
  border: 2px solid #ff9f1c;
  font-weight: 700;
  transition: .4s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


@import "./components/notice";
@import "./components/cart.scss";
@import "./components/burger.scss";
@import "./components/404/notification.scss";
@import "./components/gallery/gallery.scss";
@import "./components/about/about-service.scss";
@import "./components/about/about-advantage.scss";
@import "./components/slider/slider.scss";
@import "./components/about/about.scss";
@import "./components/contacts/contacts.scss";
@import "./components/menu/menu.scss";
@import "./components/menu/showcase.scss";
@import "./components/order/order-form.scss";
@import "./components/order/order.scss";
@import "./components/basket/advice.scss";
@import "./components/basket/basket.scss";
@import "./components/index/dish.scss";
@import "./components/map/tab.scss";
@import "./components/map/map.scss";
@import "./components/index/comment.scss";
@import "./components/index/category.scss";
@import "./components/index/set.scss";
@import "./components/bildboard/bildboard.scss";
@import "./components/elements.scss";
@import "./components/index/offer.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/helper.scss";
@import "./components/overlay.scss";
@import "./components/popup.scss";
@import "./components/promo.scss";
@import "./components/thank/thank.scss";
@import "./components/emty/empty.scss";