.category {
    margin-top: 85px;

    @media(max-width: 1024px) {
        margin-top: 65px;
    }

    @media(max-width: 600px) {
        margin-top: 37px;
    }

    &__title {
        @media(max-width: 600px) {
            line-height: 35px;
            letter-spacing: 1px;
        }
    }



    &__item {
        display: inline-flex;
        align-items: center;
        margin-left: 35px;
        margin-top: 25px;

        @media(max-width: 1024px) {
            margin-left: 25px;
        }

        @media(max-width: 600px) {
            display: flex;
            margin-left: 15px;
            margin-top: 0;
        }
    }

    &__items {
        min-width: 1123px;
        margin-top: -25px;
        margin-left: -35px;
        padding-bottom: 10px;

        @media(max-width: 1024px) {
            margin-left: -25px;
        }

        @media(max-width: 600px) {
            display: flex;
            align-items: center;
            margin-left: -15px;
            margin-top: 0;
        }
    }

    &__cover {
        margin-top: 35px;

        @media(max-width: 600px) {
            margin-top: 15px;
        }
    }

    &__quote {
        margin-top: 6px;
        max-width: 626px;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 21px;
        }

        @media(max-width: 600px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .btn {
        padding: 16px 30px 16px 34px;

        @media(max-width: 1024px) {
            padding: 16px 28px 16px 29px;
        }

        &__ic {
            width: 38px;
            height: 38px;
            margin-right: 14px;

            @media(max-width: 1024px) {
                width: 22px;
                height: 22px;
                margin-right: 8px;
            }

            .b-svg {
                height: 100%;
                width: 100%;
                fill: $orange;
                transition: .4s;
            }
        }

        &__txt {
            letter-spacing: .4px;
            font-weight: 500;
            white-space: nowrap;
        }

        &:hover {
            .b-svg {
                fill: white;
            }
        }
    }

    .mCSB_scrollTools .mCSB_draggerContainer {
        margin-top: 10px;
    }
}