.dish {
    position: relative;
    margin-top: 157px;

    &__decor {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    &__container {
        position: relative;
    }

    &__price {
        font-weight: 900;
        font-size: 26px;
        color: $orange;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-top: 18px;
        justify-content: space-between;
    }

    &__inner {
        position: relative;
        display: flex;
        padding: 0 150px;
    }

    &__left {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        height: 100%;
        padding-bottom: 63px;
    }

    &__bloc {
        &--top {
            max-width: 355px;

            .dish__text {
                margin-top: 9px;
            }
        }

        &--bottom {
            max-width: 260px;
        }
    }

    &__cover {
        position: relative;
        padding: 0 180px;
        padding-right: 170px;
    }

    &__image {
        width: 625px;
        height: 625px;
        margin: 0 auto;
        margin-top: -43px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__box {
        display: flex;
        align-items: flex-end;
        max-width: 625px;
    }

    &__article {
        font-weight: 900;
        font-size: 25px;
        line-height: 146%;
    }

    &__note {
        position: absolute;
        max-width: 315px;
        padding-bottom: 55px;
        right: -300px;

        .dish__text {
            margin-top: 8px;
        }
    }

    &__link {
        position: relative;
        margin-top: 26px;
        display: inline-block;
        color: $orange;
        padding-bottom: 5px;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: orange;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__arrow {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        left: 0;
        top: -46px;
        bottom: 0;
        margin: auto;
        height: 100%;
        align-items: center;

        .dish__arr--next.swiper-button-disabled,
        .dish__arr--prev.swiper-button-disabled {
            opacity: 0;
        }
    }

    &__arr {
        position: relative;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ff9f1c;
        border-radius: 26px;
        transition: .4s ease;
        box-shadow: 2px 4px 7px rgba(0, 0, 0, .1);
        cursor: pointer;

        &:hover {
            background-color: #fff;

            .b-svg {
                fill: #ff9f1c;
            }
        }

        .b-svg {
            width: 28px;
            height: 15px;
            fill: #fff;
            transition: .4s ease;
        }

        &--next {
            transform: scale(-1, 1);
        }
    }

    &__el {
        position: absolute;

        background-size: contain;
        background-repeat: no-repeat;

        &:first-child {
            left: 105px;
            top: 37px;
            width: 418px;
            height: 340px;
        }

        &:last-child {
            left: auto;
            top: -7px;
            width: 763px;
            height: 605px;
            right: -185px;
        }
    }

    .swiper-wrapper {
        max-width: 625px;
    }
}