.set {
    margin-top: 88px;

    @media(max-width: 1024px) {
        margin-top: 55px;
    }

    @media(max-width: 600px) {
        margin-top: 34px;
    }

    &__cover {
        margin-top: 33px;

        @media(max-width: 1024px) {
            margin-top: 30px;
        }

        @media(max-width: 600px) {
            margin-top: 49px
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -40px;
        margin-top: -40px;

        @media(max-width: 1024px) {
            margin-top: -30px;
            margin-left: -30px;
        }

        @media(max-width: 600px) {
            margin-left: 0;
        }
    }

    &__item {
        display: block;
        width: calc(33.333% - 40px);
        margin-left: 40px;
        min-height: 486px;
        border-radius: 4px 4px 0px 0px;
        transition: .4s ease;
        margin-top: 40px;

        &:hover {
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
        }

        @media(max-width: 1024px) {
            width: calc(50% - 30px);
            margin-left: 30px;
            margin-top: 30px;
            min-height: 437px;
        }

        @media(max-width: 600px) {
            width: 100%;
            margin-left: 0;
            margin-top: 0;
            min-height: 357px;
        }


        &:not(:first-child) {
            @media(max-width: 600px) {
                margin-top: 15px;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box {
        padding: 18px 20px 26px;

        @media(max-width: 1024px) {
            padding: 18px 30px 26px;
        }

        @media(max-width: 640px) {
            padding: 18px 20px 20px;
        }

        @media(max-width: 600px) {
            padding: 17px 15px 20px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        @media(max-width: 1024px) {
            margin-top: 25px;
        }

        @media(max-width: 600px) {
            margin-top: 15px;
        }
    }

    &__article {
        font-weight: 900;
        font-size: 18px;
        line-height: 26px;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.4px;
        }
    }

    &__content {
        font-size: 14px;
        line-height: 18px;
        margin-top: 8px;

        @media(max-width: 1024px) {
            line-height: 20px;
        }
    }

    &__weight {
        color: $gray-2;
        font-size: 16px;
        line-height: 23px;
    }

    &__price {
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;

        span {
            font-weight: normal;
        }
    }

    &__quote {
        margin-top: 6px;
        margin-top: 6px;
        max-width: 720px;

        @media(max-width: 1024px) {
            margin-top: 1px;
        }

        @media(max-width: 600px) {
            margin-top: 6px;
        }
    }

    &__pic {
        position: relative;
        width: 100%;
        height: 285px;

        @media(max-width: 1024px) {
            height: 217px;
        }

        @media(max-width: 600px) {
            height: 196px;
        }

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;

            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background-color: #fafafa;
                background-image: url('/img/index/of3.jpg');
                background-position: center;
                background-size: cover;
            }
        }
    }

    .btn--big {
        display: none;
        width: 100%;
        margin-top: 20px;

        @media(max-width: 600px) {
            display: block;
        }
    }
}