.comment
		#scene_comment.elements
				.elements__item(data-depth="0.09")
					img(src="./img/elements/el6.png")
				.elements__item(data-depth="0.3")
					img(src="./img/elements/el8.png")
				.elements__item(data-depth="0.1")
					img(src="./img/elements/el8.png")
				.elements__item(data-depth="0.09")
					img(src="./img/elements/el6.png")
		.comment__container.container
			.comment__title.title-4 Отзывы <br> наших клиентов
			.comment__box
				.comment__slider
					.swiper-wrapper
						.comment__item.swiper-slide
							.comment__cover
								.comment__top 
									.comment__pic
										img(src="/img/comment/cm1.jpg" alt="")
									.comment__info
										.comment__name Екатерина Иванова
										.comment__date 21.05.2020
								.comment__content Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание форм развития. 
						.comment__item.swiper-slide
							.comment__cover
								.comment__top 
									.comment__pic
										img(src="/img/comment/cm1.jpg" alt="")
									.comment__info
										.comment__name Екатерина Иванова
										.comment__date 21.05.2020
								.comment__content Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание форм развития. 
						.comment__item.swiper-slide
							.comment__cover
								.comment__top 
									.comment__pic
										img(src="/img/comment/cm1.jpg" alt="")
									.comment__info
										.comment__name Екатерина Иванова
										.comment__date 21.05.2020
								.comment__content Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание форм развития.
					.arrow
						.arr.arr--prev
							+svg('arrow')
						.pagination
						.arr.arr--next
							+svg('arrow')