include ../mixins
.header
    .header__inner
        .header__container.container
            .header__wrapper
                .header__logo
                    +svg('logo')
                .header__menu
                .header__info
                .header__basket.js-basket
                    +svg('basket')
    