include ../mixins
.header
    .header__inner
        .header__container.container
            .header__wrapper
                a(href="/").header__logo
                    +svg('logo')
                .header__menu
                    a(href="menu.html").header__link.header__link--active МЕНЮ
                    a(href="#goTab").header__link БРОНЬ
                    a(href="about.html").header__link О НАС
                    a(href="gallery.html").header__link ГАЛЕРЕЯ
                    a(href="contacts.html").header__link КОНТАКТЫ
                .header__bloc
                    .header__info
                        a(href="tel:+7 (958) 758-85-78").header__phono +7 (958) 758-85-78
                        a(href="javascript:void(0);").header__adres Вс-Чт: 10:00-23:00, Пт-Сб: 10:00-24:00
                    a(href="basket.html").cart.js-basket
                        +svg('basket')
                        .qty
                            span.js_cart-total__count 1
                .notice.notice-js
                    .notice__container
                        //- .notice__bloc
                        //-     .notice__qty +1
                        //-     .notice__text Комбо-набор 3

                        
                .burger
                    span
                    span
                    span
    .header__menu--tablet
        .header__box
            .header__btn.header__item.js-list
                .header__txt МЕНЮ
                .header__ic
                    <svg width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.5 4L0.468911 0.25L6.53109 0.25L3.5 4Z" fill="#2F2C2C"></path>
                    </svg>
            .header__list
                .header__in
                    a(href="javascript:void(0);").header__ref.header__ref--active Хит продаж
                    a(href="javascript:void(0);").header__ref Комбо
                    a(href="javascript:void(0);").header__ref Акции
                    a(href="javascript:void(0);").header__ref Хит продаж
                    a(href="javascript:void(0);").header__ref Комбо
                    a(href="javascript:void(0);").header__ref Акции
                    a(href="javascript:void(0);").header__ref Хит продаж
                    a(href="javascript:void(0);").header__ref Комбо
                    a(href="javascript:void(0);").header__ref Акции
                    a(href="javascript:void(0);").header__ref Хит продаж
                    a(href="javascript:void(0);").header__ref Комбо
                    a(href="javascript:void(0);").header__ref Акции
                    a(href="javascript:void(0);").header__ref Хит продаж
                    a(href="javascript:void(0);").header__ref Комбо
                    a(href="javascript:void(0);").header__ref Акции
        .header__cover
            a(href="javascript:void(0);").header__item.header__item--active БРОНЬ
            a(href="javascript:void(0);").header__item О НАС
            a(href="javascript:void(0);").header__item ГАЛЕРЕЯ
            a(href="javascript:void(0);").header__item КОНТАКТЫ