include ../mixins
//- .header
//-     .header__inner
//-         .header__container.container
//-             .header__wrapper
//-                 .header__logo
//-                     +svg('logo')
//-                 .header__menu
//-                     a(href="javascript:void(0);").header__link МЕНЮ
//-                     a(href="javascript:void(0);").header__link БРОНЬ
//-                     a(href="javascript:void(0);").header__link О НАС
//-                     a(href="javascript:void(0);").header__link ГАЛЕРЕЯ
//-                     a(href="javascript:void(0);").header__link КОНТАКТЫ
//-                 .header__bloc
//-                     .header__info
//-                         a(href="javascript:void(0);").header__phono +7 (958) 758-85-78
//-                         a(href="javascript:void(0);").header__adres Вс-Чт: 10:00-23:00, Пт-Сб: 10:00-24:00
//-                     .header__basket.js-basket
//-                         +svg('basket')
    