.map
    .map__container.container
        .map__grid
            .map__left
                .map__unique
                    #map
            .map__right
                .map__unique.map__unique--tab
                    .tab#goTab
                        .tab__box
                            .tab__header
                                .tab__info Забронировать столик
                                .tab__info Заказать услугу
                            .tab__cover
                                .tab__content.show
                                    form.tab__form.js-form
                                        .tab__group
                                            .tab__title Контактные данные
                                            .tab__bloc
                                                .tab__wrapper
                                                    .tab__unit
                                                        .tab__label Имя*
                                                        input(type="text" name="name" placeholder="Введите имя").tab__field.field.field--name
                                                    .tab__unit
                                                        .tab__label Фамилия*
                                                        input(type="text" name="secondname" placeholder="Введите фамилию").tab__field.field.field--lastname
                                                .tab__wrapper
                                                    .tab__unit
                                                        .tab__label Адрес электронной почты*
                                                        input(type="text" name="email" placeholder="Email").tab__field.field.field--email
                                                    .tab__unit
                                                        .tab__label Контактный телефон
                                                        input(type="text" name="phone" placeholder="+7 (___) ___-__-__").tab__field.js-mask-phone.field.field--phone
                                        .tab__group
                                            .tab__title.tab__title--small Детали бронирования
                                            .tab__bloc
                                                .tab__wrapper.tab__wrapper--detail
                                                    .tab__unit
                                                        .tab__label Дата*
                                                        input(type='text' name="date" placeholder="20/09/2016").tab__field.field.field--date
                                                    .tab__unit
                                                        .tab__label Время*
                                                        input(type='text' name="time" placeholder="12:00").tab__field.field.field--time
                                                    .tab__unit
                                                        .tab__label Количество персон*
                                                        input(type="number" min="1" name="qty" placeholder="2").tab__field.field

                                                <label class="tab__checkbox">
                                                    <input type="checkbox" checked>
                                                    <span class="tab__word">Я согласен на обработку персональных данных</span>
                                                </label>

                                                button(type="submit").btn.btn--submit Забронировать
                                
                                .tab__content
                                   form.tab__form.js-form
                                        .tab__group
                                            .tab__title Контактные данные
                                            .tab__bloc
                                                .tab__wrapper
                                                    .tab__unit
                                                        .tab__label Имя*
                                                        input(type="text" name="name" placeholder="Введите имя").tab__field.field.field--name
                                                    .tab__unit
                                                        .tab__label Вид услуги*
                                                        .tab__case
                                                            .tab__wrp.js-tab-btn
                                                                .tab__text Проведение свадеб
                                                                .tab__img
                                                                    <svg width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M3.5 4L0.468911 0.25L6.53109 0.25L3.5 4Z" fill="#2F2C2C"/>
                                                                    </svg>
                                                            .tab__select
                                                                .tab__item
                                                                    <input id="service1" type="radio" name="service" data-val="wed" value="Проведение свадеб" checked>    
                                                                    <label for="service1">Проведение свадеб</label>
                                                                .tab__item
                                                                    <input id="service2" type="radio" name="service" data-val="banket" value="Проведение банкетов">    
                                                                    <label for="service2">Проведение банкетов</label>
                                                                .tab__item
                                                                    <input id="service3" type="radio" name="service" data-val="jubilee" value="Проведение юбилеев">    
                                                                    <label for="service3">Проведение юбилеев</label>
                                                                .tab__item
                                                                    <input id="service4" type="radio" name="service" data-val="corporative" value="Проведение корпоративов">    
                                                                    <label for="service4">Проведение корпоративов</label>
                                                .tab__wrapper
                                                    .tab__unit
                                                        .tab__label Адрес электронной почты*
                                                        input(type="text" name="email" placeholder="Email").tab__field.field.field--email
                                                    .tab__unit
                                                        .tab__label Контактный телефон
                                                        input(type="text" name="phone" placeholder="+7 (___) ___-__-__").tab__field.js-mask-phone.field.field--phone
                                        .tab__group
                                            .tab__title.tab__title--small Детали бронирования
                                            .tab__bloc
                                                .tab__wrapper.tab__wrapper--detail
                                                    .tab__unit
                                                        .tab__label Дата*
                                                        input(type='text' name="date" placeholder="20/09/2016").tab__field.field.field--date
                                                    .tab__unit
                                                        .tab__label Время*
                                                        input(type='text' name="time" placeholder="12:00").tab__field.field.field--time
                                                    .tab__unit
                                                        .tab__label Количество персон*
                                                        input(type="number" min="1" name="qty" placeholder="2").tab__field.field

                                                <label class="tab__checkbox">
                                                    <input type="checkbox" checked>
                                                    <span class="tab__word">Я согласен на обработку персональных данных</span>
                                                </label>

                                                button(type="submit").btn.btn--submit Забронировать