.overlay-basket
    .popup-basket
        .popup-basket__hide
            .close
        .popup-basket__inner
            .popup-basket__top
                .popup-basket__icon
                    +svg('basket')
                    .popup-basket__qty
                        span 1
                .popup-basket__title Корзина покупателя
            .popup-basket__items
                .popup-basket__item
                    .popup-basket__pic
                        img(src="./img/basket/order.jpg" alt="")
                    .popup-basket__box
                         .popup-basket__article Шашлык из свиных ребрышек
                         .popup-basket__weight 450г
                         .quantity
                            button.minus
                                +svg('icon-minus')
                            <input type="text" class="quantity__field" name="" value="1" data-step="1" data-id="123" data-min="1" data-max="20">
                            button.plus
                                +svg('icon-plus')
                    .popup-basket__outcome
                        .popup-basket__close 
                        .popup-basket__price 450 <span>₽</span>
                .popup-basket__item
                    .popup-basket__pic
                        img(src="./img/basket/order.jpg" alt="")
                    .popup-basket__box
                         .popup-basket__article Шашлык из свиных ребрышек
                         .popup-basket__weight 450г
                         .quantity
                            button.minus
                                +svg('icon-minus')
                            <input type="text" class="quantity__field" name="" value="1" data-step="1" data-id="123" data-min="1" data-max="20">
                            button.plus
                                +svg('icon-plus')
                    .popup-basket__outcome
                        .popup-basket__close 
                        .popup-basket__price 450 <span>₽</span>
                .popup-basket__item
                    .popup-basket__pic
                        img(src="./img/basket/order.jpg" alt="")
                    .popup-basket__box
                         .popup-basket__article Шашлык из свиных ребрышек
                         .popup-basket__weight 450г
                         .quantity
                            button.minus
                                +svg('icon-minus')
                            <input type="text" class="quantity__field" name="" value="1" data-step="1" data-id="123" data-min="1" data-max="20">
                            button.plus
                                +svg('icon-plus')
                    .popup-basket__outcome
                        .popup-basket__close 
                        .popup-basket__price 450 <span>₽</span>
                .popup-basket__item
                    .popup-basket__pic
                        img(src="./img/basket/order.jpg" alt="")
                    .popup-basket__box
                         .popup-basket__article Шашлык из свиных ребрышек
                         .popup-basket__weight 450г
                         .quantity
                            button.minus
                                +svg('icon-minus')
                            <input type="text" class="quantity__field" name="" value="1" data-step="1" data-id="123" data-min="1" data-max="20">
                            button.plus
                                +svg('icon-plus')
                    .popup-basket__outcome
                        .popup-basket__close 
                        .popup-basket__price 450 <span>₽</span>
                .popup-basket__item
                    .popup-basket__pic
                        img(src="./img/basket/order.jpg" alt="")
                    .popup-basket__box
                         .popup-basket__article Шашлык из свиных ребрышек
                         .popup-basket__weight 450г
                         .quantity
                            button.minus
                                +svg('icon-minus')
                            <input type="text" class="quantity__field" name="count" value="1" data-step="1" data-id="123" data-min="1" data-max="20">
                            button.plus
                                +svg('icon-plus')
                    .popup-basket__outcome
                        .popup-basket__close 
                        .popup-basket__price 450 <span>₽</span>
            .popup-basket__bottom
                .popup-basket__text Общая сумма заказа:
                .popup-basket__sum 1800 <span>₽</span>
            a(href="javascript:void(0);").btn.btn--big.btn--orange Оформить заказ




