.popup-card
    .popup-card__header
        .popup-card__logo
            +svg('logo')
    .popup-card__close
    .popup-card__wrapper
        .popup-card__img
            img(src="./img/set/set2.jpg" alt="")
        .popup-card__left
            .popup-card__heading
                .popup-card__title Пицца «Test»
                .popup-card__weight 450г
            .popup-card__content Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль.
            button.btn.btn--big.btn--orange Добавить в корзину за 450 ₽