.popup-card
    .popup-card__header
        .popup-card__logo
            +svg('logo')
    .popup-card__close
    .popup-card__wrapper
        .popup-card__img
            img.js_popup-card_img(src="./img/set/set2.jpg" alt="")
        .popup-card__left
            .popup-card__heading
                .popup-card__title.js_popup-card_title Пицца «Test»
                .popup-card__weight.js_popup-card_weight 450г
            .popup-card__content.js_popup-card_content Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль.
            include ../modules/add-cart