.quantity
    button.minus
        +svg('icon-minus')
    <input type="text" class="quantity__field" name="" value="0" data-step="1" data-id="123" data-min="1" data-max="20">
    button.plus
        +svg('icon-plus')