.set
		.set__container.container
			div(class="set__title " + setHeader) #{setTitle}
			if setQuote == 1
				.set__quote Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
			.set__cover
				.set__items
					.set__item.js_cart-item(data-cart-id="11")
						.set__pic
							img.js_cart-item__image(src="/img/set/set1.jpg" alt="")
						.set__box
							.set__top
								.set__article.js_cart-item__name Комбо-набор 8
								.set__weight.js_cart-item__weight 400г
							.set__content.js_cart-item__text Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.set__bottom 
								.set__price.js_cart-item__cost 450 <span>₽</span>
								.btn-special.js_cart-item__inputs
									.btn.btn--small.btn--orange.js-calc В корзину
									include ../modules/quantity

						include ../modules/popup-card
					.set__item.js_cart-item(data-cart-id="1")
						.set__pic
							img.js_cart-item__image(src="/img/set/set1.jpg" alt="")
						.set__box
							.set__top
								.set__article.js_cart-item__name Комбо-набор 1
								.set__weight.js_cart-item__weight 400г
							.set__content.js_cart-item__text Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.set__bottom 
								.set__price.js_cart-item__cost 450 <span>₽</span>
								.btn-special.js_cart-item__inputs
									.btn.btn--small.btn--orange.js-calc В корзину
									include ../modules/quantity
						include ../modules/popup-card
					.set__item.js_cart-item(data-cart-id="7")
						.set__pic
							img.js_cart-item__image(src="/img/set/set1.jpg" alt="")
						.set__box
							.set__top
								.set__article.js_cart-item__name Комбо-набор 1
								.set__weight.js_cart-item__weight 400г
							.set__content.js_cart-item__text Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.set__bottom 
								.set__price.js_cart-item__cost 450 <span>₽</span>
								.btn-special.js_cart-item__inputs
									.btn.btn--small.btn--orange.js-calc В корзину
									include ../modules/quantity
						include ../modules/popup-card
					.set__item.js_cart-item(data-cart-id="5")
						.set__pic
							img.js_cart-item__image(src="/img/set/set1.jpg" alt="")
						.set__box
							.set__top
								.set__article.js_cart-item__name Комбо-набор 1
								.set__weight.js_cart-item__weight 400г
							.set__content.js_cart-item__text Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.set__bottom 
								.set__price.js_cart-item__cost 450 <span>₽</span>
								.btn-special.js_cart-item__inputs
									.btn.btn--small.btn--orange.js-calc В корзину
									include ../modules/quantity
						include ../modules/popup-card
					.set__item.js_cart-item(data-cart-id="2")
						.set__pic
							img.js_cart-item__image(src="/img/set/set1.jpg" alt="")
						.set__box
							.set__top
								.set__article.js_cart-item__name Комбо-набор 1
								.set__weight.js_cart-item__weight 400г
							.set__content.js_cart-item__text Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.set__bottom 
								.set__price.js_cart-item__cost 450 <span>₽</span>
								.btn-special.js_cart-item__inputs
									.btn.btn--small.btn--orange.js-calc В корзину
									include ../modules/quantity
						include ../modules/popup-card
					.set__item.js_cart-item(data-cart-id="3")
						.set__pic
							img.js_cart-item__image(src="/img/set/set1.jpg" alt="")
						.set__box
							.set__top
								.set__article.js_cart-item__name Комбо-набор 1
								.set__weight.js_cart-item__weight 400г
							.set__content.js_cart-item__text Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.set__bottom 
								.set__price.js_cart-item__cost 450 <span>₽</span>
								.btn-special.js_cart-item__inputs
									.btn.btn--small.btn--orange.js-calc В корзину
									include ../modules/quantity
						include ../modules/popup-card
				a(href="javascript:void(0);").btn.btn--big.btn--white Посмотреть все комбо-наборы