.about {
    // padding: 0 calc(17px - (100vw - 100%)) 0 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media(max-width: 840px) {
            flex-direction: column;
        }
    }

    &__include {
        @media(max-width: 840px) {
            margin-top: 30px;
        }

        .btn {
            @media(max-width: 768px) {
                width: 100%;
            }
        }
    }

    &__left {
        max-width: 588px;
        width: calc(100% - 590px - 102px);

        @media(max-width: 1300px) {
            width: calc(100% - 475px - 100px);
        }

        @media(max-width: 1235px) {
            width: calc(100% - 390px - 75px);
        }

        @media(max-width: 1024px) {
            width: calc(100% - 340px - 40px);
        }

        @media(max-width: 840px) {
            width: 100%;
            max-width: 100%;
        }

        .btn {
            margin-top: 35px;
        }
    }

    &__right {
        position: relative;
        width: 590px;
        height: 644px;
        margin-top: 15px;

        @media(max-width: 1300px) {
            width: 475px;
        }

        @media(max-width: 1235px) {
            width: 390px;
            height: 560px;
        }

        @media(max-width: 1024px) {
            width: 340px;
            height: 450px;
        }

        @media(max-width: 840px) {
            width: 100%;
            height: 358px;
            margin-top: 26px;
        }
    }

    &__title {
        letter-spacing: 1.8px;
    }

    &__items {
        margin-top: 8px;

        @media(max-width: 1024px) {
            margin-top: 3px;
        }
    }

    &__item {
        font-size: 16px;
        line-height: 22px;

        &:not(:first-child) {
            margin-top: 13px;

            @media(max-width: 1024px) {
                margin-top: 10px;
            }
        }
    }

    &__unique {
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: calc(100% + 330px);
        right: -330px;
        padding-bottom: 36px;

        @media(max-width: 1024px) {
            width: calc(100% + 330px);
            // position: relative;
            // right: auto;
        }

        @media(max-width: 840px) {
            padding-bottom: 0;
        }

        .swiper-pagination {
            width: 100%;
            height: 6px;
            bottom: 0;
            top: auto;
            border-radius: 5px;
            border: 1px solid transparent;
            background-color: $gray-4;

            @media(max-width: 840px) {
                display: none;
            }
        }

        .swiper-pagination-progressbar-fill {
            background-color: $orange;
        }
    }

    &--slider {
        height: 608px;
    }

    .btn {
        padding: 23px 26px;
        font-size: 14PX;
        letter-spacing: .7px;
    }
}