.burger {
    position: relative;
    display: none;
    flex-direction: column;
    width: 26px;
    height: 20px;

    @media(max-width: 1024px) {
        display: flex;
    }

    @media(max-width: 600px) {
        width: 23px;
        height: 18px;
    }

    span {
        position: relative;
        display: block;
        width: 100%;
        border-top: 1px solid $black;
        background-color: $black;
        border-radius: 20%;
        transition: .4s ease;

        @media(max-width: 600px) {
            // height: 1px;
        }


        &:nth-child(2) {
            margin: 7.5px auto;
            left: 0;
            right: 0;

            @media(max-width: 600px) {
                margin: 8px auto;
            }
        }
    }

    &--active {
        span {
            &:first-child {
                transform: rotate(45deg);
                top: 9px;

                @media(max-width: 600px) {
                    top: 8px;
                }
            }

            &:last-child {
                transform: rotate(-45deg);
                top: -9px;

                @media(max-width: 600px) {
                    top: -10px;
                }
            }

            &:nth-child(2) {
                width: 0%;

            }
        }
    }
}