#scene {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    // @media(max-width: 1024px) {
    //     display: none;
    // }

    .elements__item {
        position: absolute !important;
        display: inline-block !important;

        &:nth-child(1) {
            top: auto !important;
            bottom: 113px !important;
            left: 262px !important;

            @media(max-width: 860px) {
                transform: rotate(62deg);
                width: 50px;
                height: 37px;
                bottom: -9px !important;
                left: 244px !important;
            }

            @media(max-width: 640px) {
                transform: rotate(-38deg);
                width: 50px;
                height: 37px;
                bottom: 140px !important;
                left: 237px !important;
            }
        }

        &:nth-child(2) {
            top: auto !important;
            bottom: -22px !important;
            left: 463px !important;

            @media(max-width: 1024px) {
                width: 155px;
            }

            @media(max-width: 860px) {
                width: 84px;
                bottom: 96px !important;
                left: 349px !important;
                transform: rotate(168deg);
            }

            @media(max-width: 640px) {
                width: 61px;
                bottom: auto !important;
                left: 256px !important;
                top: 151px !important;
                transform: rotate(168deg);
            }
        }

        &:nth-child(3) {
            top: auto !important;
            bottom: 222px !important;
            left: 794px !important;

            @media(max-width: 1300px) {
                display: none !important;
            }
        }

        &:nth-child(4) {
            top: auto !important;
            bottom: -28px !important;
            left: 1050px !important;

            @media(max-width: 640px) {
                top: 32px !important;
                bottom: auto;
                left: auto !important;
                width: 53px;
                right: 48px !important;
                height: 30px;
            }
        }

        &:nth-child(5) {
            top: auto !important;
            right: 564px !important;
            top: 116px !important;
            left: auto !important;

            @media(max-width: 860px) {
                transform: rotate(279deg);
                width: 49px;
                right: 353px !important;
                top: 220px !important;
            }

            @media(max-width: 640px) {
                transform: rotate(356deg);
                width: 53px;
                right: 187px !important;
                top: auto !important;
                bottom: 47px;
            }
        }

        &:nth-child(6) {
            top: auto !important;
            right: -94px !important;
            transform: scale(1, -1) rotateZ(56deg);
            top: 172px !important;
            left: auto !important;

            @media(max-width: 1024px) {
                display: none !important;
            }

            @media(max-width: 860px) {
                width: 95px;
                transform: rotate(220deg);
                top: -18px !important;
                right: 257px !important;
                display: block !important;
            }

            @media(max-width: 640px) {
                width: 62px;
                transform: rotate(232deg);
                top: -9px !important;
                right: 226px !important;
            }
        }

        img {
            @media(max-width: 1024px) {
                width: 100%;
                height: auto;
            }
        }
    }
}

#scene_comment {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .elements__item {
        position: absolute !important;
        display: inline-block !important;

        &:nth-child(1) {
            left: 63px !important;
            top: 198px !important;

            @media(max-width: 1024px) {
                width: 237px;
                left: -73px !important;
                top: 295px !important;
            }


        }

        &:nth-child(2) {
            top: 327px !important;
            right: 443px !important;
            left: auto !important;

            @media(max-width: 1630px) {
                top: 42px !important;
                right: 145px !important;
            }

            @media(max-width: 1024px) {
                right: 53px !important;
                width: 135px;
                top: 76px !important;
            }
        }

        &:nth-child(3) {
            top: 166px !important;
            right: 222px !important;
            left: auto !important;

            @media(max-width: 1024px) {
                display: none !important;
            }
        }

        &:nth-child(4) {
            display: none !important;

            @media(max-width: 1630px) {
                display: block !important;
                left: auto !important;
                top: 15px !important;
                right: 109px;
            }

            @media(max-width: 1024px) {
                top: 46px !important;
                right: 43px;
                width: 275px;
            }
        }
    }

    img {
        width: 100%;
    }
}

#scene_contacts {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    height: calc(100% + 101px);
    top: -167px;
    // display: none;

    .elements__item {
        position: absolute !important;
        display: inline-block !important;

        &:nth-child(1) {
            top: -57px !important;
            left: 219px !important;

            @media(max-width: 1235px) {
                top: -23px !important;
                left: 219px !important;
                width: 110px;
            }

            @media(max-width: 600px) {
                top: 126px !important;
                left: 228px !important;
                width: 81px;
            }

            img {

                @media(max-width: 1235px) {
                    transform: rotate(-30deg);
                }

                @media(max-width: 600px) {
                    transform: rotate(-36deg);
                }
            }
        }

        &:nth-child(2) {
            left: 630px !important;
            top: 60px !important;

            @media(max-width: 1300px) {
                left: 871px !important;
                top: 42px !important;
                width: 106px;
            }

            @media(max-width: 1235px) {
                left: 880px !important;
                top: 40px !important;
                width: 100px;
            }

            @media(max-width: 1024px) {
                left: 428px !important;
                top: 235px !important;
                width: 100px;
            }
        }

        &:nth-child(3) {
            left: 131px !important;
            top: auto !important;
            bottom: 81px !important;

            @media(max-width: 1300px) {
                left: 273px !important;
                top: auto !important;
                bottom: -70px !important;
                width: 85px;
            }

            @media(max-width: 1235px) {
                left: 260px !important;
                top: auto !important;
                bottom: -86px !important;
                width: 77px;
            }

            @media(max-width: 1024px) {
                left: auto !important;
                top: 215px !important;
                bottom: auto !important;
                right: 13px;
                width: 48px !important;
            }

            @media(max-width: 600px) {
                left: auto !important;
                top: 471px !important;
                bottom: auto !important;
                right: -16px;
                width: 60px !important;
            }

            img {
                @media(max-width: 1024px) {
                    transform: rotate(-18deg);
                }

                @media(max-width: 600px) {
                    transform: rotate(15deg);
                }
            }
        }

        &:nth-child(4) {
            left: 54px !important;
            top: 200px !important;
            width: 146px;
            right: auto;

            @media(max-width: 1300px) {
                left: 406px !important;
                top: 200px !important;
                width: 101px;
                right: auto;
            }

            @media(max-width: 1235px) {
                left: 433px !important;
                top: 200px !important;
                width: 116px;
                right: auto;
            }

            @media(max-width:1024px) {
                left: 340px !important;
                top: 110px !important;
                width: 93px;
                right: auto;
            }

            @media(max-width:600px) {
                left: 278px !important;
                top: 282px !important;
                width: 75px;
                right: auto;
            }

            img {
                @media(max-width:1024px) {
                    transform: rotate(42deg);
                }

                @media(max-width:600px) {
                    transform: rotate(62deg);
                }
            }
        }

        &:nth-child(5) {
            left: 727px !important;
            top: 532px !important;
            width: 138px !important;

            @media(max-width: 1300px) {
                display: none !important;
            }

            @media(max-width: 1024px) {
                display: block !important;
                left: 568px !important;
                top: 170px !important;
                width: 76px !important;
            }

            @media(max-width: 600px) {
                left: 213px !important;
                top: 381px !important;
                width: 59px !important;
            }

            img {
                transform: rotate(45deg);

                @media(max-width: 1024px) {
                    transform: rotate(-16deg);
                }
            }
        }

        img {
            width: 100%;
        }
    }
}

#scene_dish {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .elements__item {
        position: absolute !important;
        display: inline-block !important;

        &:nth-child(1) {
            bottom: 35px !important;

            top: auto !important;

            @media(max-width: 1023px) {
                display: none !important;
            }
        }

        &:nth-child(2) {
            left: 65px !important;
            top: 66px !important;

            @media(max-width: 1023px) {
                left: 467px !important;
                top: 225px !important;
                width: 66px;
                height: 66px;
            }
        }

        &:nth-child(3) {
            left: 183px !important;
            top: 261px !important;

            @media(max-width: 1023px) {
                left: 482px !important;
                top: 44px !important;
                transform: rotate(89deg) !important;
                width: 37px;
            }

            @media(max-width: 600px) {
                left: 259px !important;
                top: 230px !important;
                width: 45px;
            }
        }

        &:nth-child(4) {
            left: auto !important;
            top: -68px !important;
            width: 145px;
            height: 137px;
            right: 485px;

            @media(max-width: 1023px) {
                display: none !important;
            }

            img {
                width: 100%;
            }
        }

        &:nth-child(5) {
            top: 121px !important;
            width: 96px;
            height: 95px;
            right: 350px;
            left: auto !important;

            @media(max-width: 1023px) {
                top: 90px !important;
                width: 80px;
                height: 80px;
                right: 56px;
                left: auto !important;
            }

            @media(max-width: 600px) {
                top: 123px !important;
                width: 61px;
                height: 50px;
                right: 8px;
                left: auto !important;
            }

            img {
                width: 100%;
            }
        }

        &:nth-child(6) {
            left: auto !important;
            top: auto !important;
            right: 183px !important;
            bottom: 243px !important;

            @media(max-width: 1300px) {
                right: 200px !important;
                bottom: 350px !important;
            }

            @media(max-width: 1023px) {
                right: 169px !important;
                bottom: 343px !important;
                width: 43px;
            }

            @media(max-width: 600px) {
                right: 42px !important;
                bottom: 276px !important;
                width: 33px;
                transform: rotate(-27deg) !important;
            }
        }

        &:nth-child(7) {
            left: auto !important;
            top: -178px !important;
            height: 535px !important;
            right: 0 !important;
            width: 287px !important;

            @media(max-width: 1023px) {
                display: none !important;
            }

            img {
                width: 100%;
            }
        }

        &:nth-child(8) {
            left: auto !important;
            top: auto !important;
            width: 245px;
            height: 225px;
            right: 13px;
            /* background-color: red; */
            bottom: -34px;

            @media(max-width: 1023px) {
                display: none !important;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }


    }


    img {
        @media(max-width:1023px) {
            width: 100%;
        }
    }

}

#scene_about {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    .elements__item {
        position: absolute !important;
        display: inline-block !important;

        &:nth-child(1) {
            top: 44px !important;
            left: 765px !important;
        }

        &:nth-child(2) {
            top: -44px !important;
            right: 342px !important;
            left: auto !important;
        }

        &:nth-child(3) {
            right: 652px !important;
            bottom: -67px !important;
            left: auto !important;
            top: auto !important;
        }
    }
}