.header {
    min-height: 74px;
    position: relative;
    z-index: 10;

    @media(max-width: 600px) {
        min-height: 59px;
    }

    &__in {
        padding-top: 30px;

        @media(max-width: 600px) {
            padding-top: 19px;
        }
    }

    &__box {
        display: none;

        @media(max-width: 1024px) {
            display: block;
        }

        .mf-show {
            color: #FF9F1C !important;

            .header__ic {
                transform: scale(1, 1) !important;
            }
        }
    }

    &__item {
        opacity: 0;
    }

    &__cover {
        display: flex;
        flex-direction: column;

        @media(max-width: 600px) {
            // overflow: auto;
            // height: calc(100vh - 150px);
        }
    }

    &__ref {
        display: block;
        font-size: 16px;
        transition: .4s ease;

        &:hover {
            color: $orange;
        }

        &:not(:first-child) {
            margin-top: 20px;

            @media(max-width: 600px) {
                margin-top: 18px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        // padding-top: 30px;

        padding-top: 0;
        padding-left: 20px;

        height: 0px;
        opacity: 0;
        visibility: hidden;

        @media(max-width: 600px) {
            padding-left: 30px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
    }

    &__txt {
        margin-right: 7px;
        font-size: 20px;
        line-height: 20px;

        @media(max-width: 600px) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &__ic {
        display: flex;
        transform: scale(1, -1);
        transition: .4s ease;
    }

    &__container {
        position: relative;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 118px;
        width: 100%;
        height: 40px;

        @media(max-width: 1024px) {
            max-width: 108px;
        }

        @media(max-width: 600px) {
            max-width: 85px;
            height: 35px;
        }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: $orange;
        }
    }

    &__basket {
        max-width: 41px;
        height: 34px;
        cursor: pointer;

        .b-svg {
            height: 100%;
            width: 100%;
        }
    }

    &__item {
        transition: initial;
        display: inline-flex;
        align-self: flex-start;
        font-size: 20px;
        line-height: 20px;

        @media(max-width: 600px) {
            font-size: 18px;
            line-height: 18px;
        }


        &:not(:first-child) {
            margin-top: 35px;

            @media(max-width: 600px) {
                margin-top: 33px;
            }
        }
    }

    &__link {
        font-size: 15px;
        font-weight: 500;

        @media(max-width: 1024px) {
            display: block;
            font-size: 20px;
            line-height: 20px;
        }

        &--menu {
            @media(max-width: 768px) {
                display: none;
            }
        }

        &:hover {
            color: $orange;
        }

        &:not(:first-child) {
            @media(max-width: 1024px) {
                margin-top: 35px;
            }
        }

        &:not(:last-child) {
            margin-right: 45px;

            @media(max-width: 1235px) {
                margin-right: 24px;
            }

            @media(max-width: 1024px) {
                margin-right: 0;
            }
        }
    }

    &__wrapper {
        padding: 16px 0;

        @media(max-width: 600px) {
            padding: 0;
        }
    }

    &__phono {
        font-size: 21px;
        display: block;
        letter-spacing: -0.1px;
        text-align: right;
        color: $orange;
        font-weight: 700;
    }

    &__adres {
        font-size: 10px;
        font-weight: 500;
    }

    &__phono,
    &__adres {
        display: block;
    }

    &__bloc {
        display: flex;
        align-items: center;

        @media(max-width: 1024px) {
            display: none;
        }
    }

    &__info {
        margin-right: 25px;
    }

    &__menu {
        margin-left: 0px;

        @media(max-width: 1024px) {
            display: none;
        }

        &--tablet {
            display: none;
            transform: translateX(100%);
            opacity: 0;

            @media(max-width: 1024px) {
                display: initial;
                z-index: -1;
                position: fixed;
                // top: 0%;
                bottom: auto;
                width: 47%;
                height: auto;
                overflow: auto;
                background-color: white;
                right: -17px;
                padding: 60px 120px 67px 57px;
                box-shadow: -19px -5px 35px rgba(0, 0, 0, 0.25);
                max-height: calc(100vh - 25px);
                top: calc(0px + 59px);
            }

            @media(max-width: 620px) {
                width: 50%;
                padding: 60px 70px 67px 49px;
            }

            @media(max-width: 500px) {
                padding: 34px 70px 67px 15px;
                width: 100%;
                height: 100%;
                right: 0;
            }
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        background-color: #fff;
        min-height: 74px;
        padding: 0 calc(17px - (100vw - 100%)) 0 0;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

        @media(max-width: 1024px) {
            padding: 0;
        }

        @media(max-width: 600px) {
            min-height: 59px;
        }
    }
}