.mf-scroll {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    transition: .2s ease-out;
}

.mf-margin {
    margin-top: 52px;

    @media(max-width: 1024px) {
        margin-top: 40px;
    }

    @media(max-width: 600px) {
        margin-top: 20px;
    }
}