.popup-basket {
    background-color: #fff;
    position: absolute;
    // transition: .4s .1s linear;
    right: 0;
    opacity: 0;
    //visibility: hidden;
    width: 100%;
    max-width: 576px;
    min-height: 100vh;
    padding: 25px 44px 45px 42px;
    //transform: translateX(120%);

    &__icon {
        position: relative;
        width: 52px;
        height: 44px;

        .b-svg {
            width: 100%;
            height: 100%;
        }
    }

    &__qty {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 30px;
        height: 30px;
        background-color: $orange;
        color: white;
        border-radius: 15px;
        top: -7px;
        right: -3px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 4px;
    }

    &__title {
        font-size: 20px;
        line-height: 29px;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 17px;
        letter-spacing: 0.3px;
    }

    &__items {
        margin-top: 38px;
    }

    &__pic {
        width: 87px;
        height: 86px;
        margin-right: 14px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__item {
        display: flex;
        border-bottom: 1px solid $gray-4;
        padding-bottom: 21px;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__weight {
        font-size: 13px;
        line-height: 18px;
        color: $gray-2;
    }

    &__outcome {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    &__hide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        position: absolute;
        background-color: white;
        border-radius: 50%;
        left: -68px;
        top: 12px;
        cursor: pointer;

        &:hover .close {
            transform: rotateX(180deg) rotateY(180deg);
        }

        &:hover .close:before,
        &:hover .close:after {
            background-color: $orange;
        }
    }

    .close {
        width: 25px;
        height: 25px;
        position: relative;

        transition: .4s ease-out;
        transform-origin: center;

        &:after,
        &:before {
            position: absolute;
            content: "";
            height: 25px;
            width: 1.3px;
            background-color: $black;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }
    }

    &__close {
        position: relative;
        width: 17px;
        height: 17px;
        margin-left: auto;
        cursor: pointer;
        transform: rotate(-90deg);
        transition: .4s ease-out;

        &:after,
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 1.3px;
            background-color: $black;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            transition: .4s ease-out;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:hover {
            transform: rotate(90deg);
        }

        &:hover:before,
        &:hover:after {
            background-color: $orange;
        }
    }

    &__price {
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;
        margin-top: auto;

        span {
            font-weight: normal;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 67px;
    }

    &__text {
        font-size: 18px;
    }

    &__sum {
        font-size: 20px;
        font-weight: 900;
        color: $orange;

        span {
            font-weight: normal;
        }
    }

    .quantity {
        margin-top: 12px;
    }

    .btn {
        width: 100%;
        text-align: center;
        margin-top: 32px;
        padding: 25px 32px;
    }
}

.popup-card {
    background-color: #fff;
    position: fixed;
    // transition: .4s .1s linear;
    right: 0;
    //  opacity: 0;
    //visibility: hidden;
    width: 100%;
    max-width: 857px;
    min-height: 454px;
    height: 1px;
    padding: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 25;

    @media(max-width: 1024px) {
        max-width: 645px;
        padding: 40px;
    }

    @media(max-width: 768px) {
        max-width: 100%;
        width: 100vw;
        padding: 30px;
        min-height: 100vh;
        padding-top: 0;
    }

    @media(max-width: 600px) {
        padding: 0 15px 38px;
    }

    &__header {
        display: none;

        @media(max-width: 768px) {
            display: flex;
            justify-content: space-between;
            padding: 20px 30px;
            width: calc(100% + 60px);
            margin-left: -30px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        }

        @media(max-width: 600px) {
            padding: 17px 15px 15px;
            width: calc(100% + 30px);
            margin-left: -15px;
        }
    }

    &__logo {
        width: 106px;
        height: 35px;

        @media(max-width: 600px) {
            width: 86px;
            height: 28px;
        }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: $orange;
        }
    }

    &__close {
        position: absolute;
        width: 24px;
        height: 24px;
        right: -28px;
        top: -30px;
        cursor: pointer;
        transition: .4s ease;
        transform: rotate(-90deg);

        @media(max-width: 768px) {
            position: relative;
            right: initial;
            top: initial;
            width: 27px;
            height: 27px;
            position: absolute;
            right: 30px;
            top: 23px;
        }

        @media(max-width: 600px) {
            right: 15px;
            top: 17px;
        }

        &:after,
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 1px;
            background-color: white;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: .4s ease;

            @media(max-width: 768px) {
                background-color: $black-2;
            }
        }

        &:hover {
            transform: rotate(90deg);

            &:after,
            &:before {
                background-color: $orange;
            }
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:before {
            transform: rotate(45deg);
        }
    }

    &__content {
        margin-top: 10px;
        max-width: 330px;
        width: 100%;
        font-size: 16px;
        line-height: 21px;

        @media(max-width: 768px) {
            max-width: 100%;
        }

        @media(max-width: 600px) {
            margin-top: 4px;

        }
    }

    &__weight {
        font-size: 18px;
        line-height: 26px;
        color: $gray-2;

        @media(max-width: 600px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 23px;
        line-height: 33px;
        font-weight: 900;

        @media(max-width: 600px) {
            font-size: 20px;
            line-height: 29px;
        }
    }

    &__wrapper {
        display: flex;
        height: 100%;

        @media(max-width: 768px) {
            flex-direction: column;
            padding-top: 27px;
            height: calc(100% - 80px);
        }

        @media(max-width: 600px) {
            padding-top: 17px;
            height: calc(100% - 60px);
        }
    }

    &__img {

        width: 330px;
        height: 329px;
        margin-right: 35px;

        @media(max-width: 1024px) {
            max-width: 210px;
            height: 100%;
        }

        @media(max-width: 768px) {
            max-width: 100%;
            width: 100%;
            height: 419px;
        }

        @media(max-width:600px) {
            height: 223px;
        }

        img {
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            overflow: hidden;
            transform: scale(1) !important;

            &:before {
                position: absolute;
                content: ' ';
                display: block;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: #fafafa;
                background-image: url(/img/index/of3.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: calc(100% - 334px - 35px);
        padding: 20px 0;

        @media(max-width: 1024px) {
            width: calc(100% - 210px - 35px);
        }

        @media(max-width:768px) {
            width: 100%;
            padding: 0;
            margin-top: 38px;
            height: 100%;
        }

        @media(max-width:600px) {
            margin-top: 17px;
        }
    }

    .btn {
        display: block;
        margin-top: auto;
        padding: 18px 32px;
        font-size: 14px;
        line-height: 14px;
        width: 100%;

        @media(max-width:768px) {
            margin-top: auto;
            padding: 27px 32px;
            font-size: 16px;
            line-height: 16px;
        }

        @media(max-width:600px) {
            font-size: 12px;
            line-height: 12px;
            padding: 17px 32px;
        }
    }
}