.basket {
    &__item {
        display: flex;
        padding-bottom: 30px;
        border-bottom: 1px solid $gray-4;

        @media(max-width: 1024px) {
            padding-bottom: 25px;
        }

        @media(max-width: 600px) {
            padding-bottom: 21px;
        }

        &:not(:first-child) {
            margin-top: 30px;

            @media(max-width: 1024px) {
                margin-top: 25px;
            }

            @media(max-width: 600px) {
                margin-top: 18px;
            }
        }
    }

    &__pic {
        max-width: 125px;
        min-width: 125px;
        height: 125px;
        overflow: hidden;
        margin-right: 26px;

        @media(max-width: 1024px) {
            max-width: 115px;
            min-width: 115px;
            height: 115px;
            overflow: hidden;
            margin-right: 17px;
        }

        @media(max-width: 767px) {
            max-width: 80px;
            min-width: 80px;
            height: 80px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__cover {
        margin-top: 36px;

        @media(max-width: 1024px) {
            margin-top: 32px;
        }

        @media(max-width: 600px) {
            margin-top: 23px;
        }
    }

    &__title {
        letter-spacing: 1.7px;
    }

    &__quote {
        margin-top: 8px;
        max-width: 585px;

        @media(max-width: 1024px) {
            margin-top: 3px;
            max-width: 585px;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -0.1px;
        }

        @media(max-width: 600px) {
            margin-top: 8px;
            line-height: 20px;
        }
    }

    &__top,
    &__wrapper {
        display: flex;
    }

    &__top {
        @media(max-width: 640px) {
            justify-content: space-between;
            flex-direction: column;
        }
    }

    &__article {
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
        margin-right: 11px;
        letter-spacing: 0.4px;

        @media(max-width: 600px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        max-width: 330px;
        margin-top: 7px;

        @media(max-width: 640px) {
            display: none;
        }
    }

    &__info {
        padding-top: 12px;

        @media(max-width: 1024px) {
            padding-top: 6px;
            margin-right: 26px;
        }

        @media(max-width: 600px) {
            padding-top: 0px;
            margin-right: 0;
        }
    }

    &__wrapper {
        width: 100%;

        @media(max-width: 640px) {
            flex-direction: column;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        max-width: 472px;
        width: 100%;
        justify-content: space-between;
        margin-left: auto;

        @media(max-width: 1235px) {
            max-width: 330px;
        }

        @media(max-width: 1024px) {
            max-width: 255px;
        }

        @media(max-width: 767px) {
            max-width: 235px;
        }

        @media(max-width: 640px) {
            margin: 0;
            margin-top: 7px;
            max-width: 100%;
        }

        .quantity {
            border-radius: 25px;
            padding: 14px 21px;
            height: 44px;
            max-width: 117px;

            @media(max-width: 1024px) {
                padding: 11px 24px;
                height: 38px;
                max-width: 112px;
            }

            @media(max-width: 600px) {
                padding: 11px 20px;
                height: 38px;
                max-width: 105px;
            }
        }
    }

    &__weight {
        font-size: 16px;
        line-height: 23px;
        color: $gray-2;

        @media(max-width: 600px) {
            font-size: 12px;
            line-height: 17px;
        }
    }

    &__price {
        font-size: 20px;
        font-weight: 900;
        margin-left: 17px;

        @media(max-width: 1024px) {
            margin-left: 6px;
            font-size: 18px;
        }

        @media(max-width: 600px) {
            margin-left: 6px;
            font-size: 16px;
            transform: translateX(27px);
        }

        span {
            font-weight: 500;
        }
    }

    &__bloc {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        @media(max-width: 1024px) {
            margin-top: 40px;
        }
    }

    &__heading {
        font-size: 20px;
        line-height: 29px;
        font-weight: 900;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__right {
        max-width: 286px;
        width: 100%;
    }

    &__field {
        height: 46px;
        border: 1px solid gray;
        border-radius: 30px;
        padding-left: 23px;
        padding-right: 117px;
    }

    &__close {
        height: 20px;
        width: 20px;
        position: relative;
        transition: .4s ease-out;
        transform-origin: center;
        cursor: pointer;

        @media(max-width: 600px) {
            transform: translateY(-53px) translateX(4px);
            height: 18px;
            width: 18px;
        }

        &:after,
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 1.4px;
            background-color: $black;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:hover {
            transform: rotate(90deg);
        }

        &:hover:before,
        &:hover:after {
            background-color: $orange;
        }
    }

    &__sum {
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.3px;

        .sum {
            margin-left: 3px;
            font-size: 24px;
        }

        .symbol {
            font-weight: 100;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .btn {
            margin-top: 31px;
            padding: 28px 35px;

            @media(max-width: 1024px) {
                margin-top: 19px;
                padding: 24px 29px;
            }
        }

        span {
            color: $orange;
        }
    }
}