extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.notification
		.notification__items
			.notification__item(style="background-image: url(img/404/1.png)")
			.notification__item(style="background-image: url(img/404/2.png)")
			.notification__item(style="background-image: url(img/404/3.png)")
			.notification__item(style="background-image: url(img/404/4.png)")
			.notification__item(style="background-image: url(img/404/5.png)")
			.notification__item(style="background-image: url(img/404/6.png)")
			.notification__item(style="background-image: url(img/404/7.png)")
			.notification__item(style="background-image: url(img/404/8.png)")
			.notification__item(style="background-image: url(img/404/9.png)")
			.notification__item(style="background-image: url(img/404/10.png)")
			.notification__item(style="background-image: url(img/404/11.png)")
			.notification__item(style="background-image: url(img/404/12.png)")
			.notification__item(style="background-image: url(img/404/13.png)")
		.notification__container.container
			.notification__title 404
			.notification__txt Извините, такой страницы не существует
	
			
				
block script