extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.about.mf-margin
		.about__container.container
			.about__wrapper
				.about__left
					.about__title.title-1 О заведении
					.about__items
						.about__item Таким образом укрепление и развитие структуры способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
						.about__item Равным образом дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
						.about__item Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения форм развития.
						.about__item С другой стороны сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
						.about__item Товарищи! сложившаяся структура организации способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа направлений прогрессивного развития.
				.about__right
					.about__unique
						.about-slider
							.swiper-wrapper
								.swiper-slide
									img(src="./img/slider/slide1.jpg" alt="")
								.swiper-slide
									img(src="./img/slider/slide2.jpg" alt="")
								.swiper-slide
									img(src="./img/slider/slide1.jpg" alt="")
						<div class="swiper-pagination"></div>
			a(href="javascript:void(0);").btn.btn--orange.btn--big Посмотреть галерею
	.about-advantage
		.bcg-parallax
			.bcg
			.content-wrapper
				.container
					.about-advantage__title.title-2 Наши преимущества
					.about-advantage__items
						.about-advantage__item
							.about-advantage__pic 
								+svg('ch')
							.about-advantage__box
								.about-advantage__article Качество блюд
								.about-advantage__text Разнообразный и богатый опыт постоянное обеспечение нашей деятельности.
						.about-advantage__item
							.about-advantage__pic 
								+svg('order')
							.about-advantage__box
								.about-advantage__article Вежливый персонал
								.about-advantage__text Разнообразный и богатый опыт постоянное обеспечение нашей деятельности.
						.about-advantage__item
							.about-advantage__pic 
								+svg('faster')
							.about-advantage__box
								.about-advantage__article Быстрый сервис
								.about-advantage__text Разнообразный и богатый опыт постоянное обеспечение нашей деятельности.
		#scene_about.elements
			.elements__item(data-depth="0.02")
				img(src="./img/elements/el19.png")
			.elements__item(data-depth="0.03")
				img(src="./img/elements/el20.png")
			.elements__item(data-depth="0.02")
				img(src="./img/elements/el21.png")
block script