extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setQuote = 1;

block content
	.basket
		.basket__container
			.basket__title.title-1 Корзина
			.basket__quote Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа модели развития.
			.basket__items


block script