extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setQuote = 1;

block content
	.basket.mf-margin
		.basket__container.container
			.basket__title.title-1 Корзина
			.basket__quote Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа модели развития.
			.basket__cover
				.basket__items
					.basket__item
						.basket__pic
							img(src="./img/basket/pic.jpg" alt="")
						.basket__wrapper
							.basket__info
								.basket__top
									.basket__article Комбо-набор 1
									.basket__weight 450г
								.basket__text Квадратный пирог из дрожжевого теста, с начинкой из сыра сулугуни, сверху присыпается сыром сулугуни
							.basket__box
								include ../modules/quantity
								.basket__price 450 <span>₽</span>
								.basket__close
					.basket__item
						.basket__pic
							img(src="./img/basket/pic.jpg" alt="")
						.basket__wrapper
							.basket__info
								.basket__top
									.basket__article Комбо-набор 1
									.basket__weight 450г
								.basket__text Квадратный пирог из дрожжевого теста, с начинкой из сыра сулугуни, сверху присыпается сыром сулугуни
							.basket__box
								include ../modules/quantity
								.basket__price 450 <span>₽</span>
								.basket__close
					.basket__item
						.basket__pic
							img(src="./img/basket/pic.jpg" alt="")
						.basket__wrapper
							.basket__info
								.basket__top
									.basket__article Комбо-набор 1
									.basket__weight 450г
								.basket__text Квадратный пирог из дрожжевого теста, с начинкой из сыра сулугуни, сверху присыпается сыром сулугуни
							.basket__box
								include ../modules/quantity
								.basket__price 450 <span>₽</span>
								.basket__close
					.basket__item
						.basket__pic
							img(src="./img/basket/pic.jpg" alt="")
						.basket__wrapper
							.basket__info
								.basket__top
									.basket__article Комбо-набор 1
									.basket__weight 450г
								.basket__text Квадратный пирог из дрожжевого теста, с начинкой из сыра сулугуни, сверху присыпается сыром сулугуни
							.basket__box
								include ../modules/quantity
								.basket__price 450 <span>₽</span>
								.basket__close
					.basket__item
						.basket__pic
							img(src="./img/basket/pic.jpg" alt="")
						.basket__wrapper
							.basket__info
								.basket__top
									.basket__article Комбо-набор 1
									.basket__weight 450г
								.basket__text Квадратный пирог из дрожжевого теста, с начинкой из сыра сулугуни, сверху присыпается сыром сулугуни
							.basket__box
								include ../modules/quantity
								.basket__price 450 <span>₽</span>
								.basket__close
			.basket__bloc
				.basket__right
					.basket__heading Промокод
					.promo
						input(type="text" placeholder="Введите промокод" required).promo__field
						a(href="javascript:void(0);").promo__btn Применить
				.basket__left
					.basket__sum Общая сумма заказа: <span class="sum">2250</span> <span class="symbol">₽</span>
					a(href="javascript:void(0);").btn.btn--big.btn--orange Оформить заказ
	.advice
		.advice__container.container
			.advice__title.title-2 Рекомендуем к заказу
			.advice__slider
				.swiper-wrapper
					.swiper-slide
						.advice__pic
							img(src="./img/set/set1.jpg" alt="")
						.advice__cover
							.advice__top
								.advice__article Комбо-набор 1
								.advice__weight 450г
							.advice__content Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.advice__bottom
								.advice__price 450 <span>₽</span>
								a(href="javascript:void(0)").btn.btn--small.btn--orange В корзину
					.swiper-slide
						.advice__pic
							img(src="./img/set/set1.jpg" alt="")
						.advice__cover
							.advice__top
								.advice__article Комбо-набор 1
								.advice__weight 450г
							.advice__content Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.advice__bottom
								.advice__price 450 <span>₽</span>
								a(href="javascript:void(0)").btn.btn--small.btn--orange В корзину
					.swiper-slide
							.advice__pic
								img(src="./img/set/set1.jpg" alt="")
							.advice__cover
								.advice__top
									.advice__article Комбо-набор 1
									.advice__weight 450г
								.advice__content Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
								.advice__bottom
									.advice__price 450 <span>₽</span>
									a(href="javascript:void(0)").btn.btn--small.btn--orange В корзину
					.swiper-slide
						.advice__pic
							img(src="./img/set/set1.jpg" alt="")
						.advice__cover
							.advice__top
								.advice__article Комбо-набор 1
								.advice__weight 450г
							.advice__content Повседневная практика показывает, что сложившаяся структура данной организации обеспечивает широкому кругу участие
							.advice__bottom
								.advice__price 450 <span>₽</span>
								a(href="javascript:void(0)").btn.btn--small.btn--orange В корзину
				
				.arrow
					.arr.arr--prev
						+svg('arrow')
					.pagination
					.arr.arr--next
						+svg('arrow')

						
	
				
block script