extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.gallery.mf-margin
		.gallery__container.container
			.gallery__title.title-1 Галерея
			.gallery__quote Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки новых предложений. Разнообразный и богатый опыт реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
			.gallery__cover
				.gallery__grid#gallery
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item 
						img(src="./img/gallery/p1.jpg" alt="")
					a(href="./img/gallery/p1.jpg").gallery__item
						img(src="./img/gallery/p1.jpg" alt="")
			a(href="javascript:void(0);").btn.btn--big.btn--orange Больше фотографий


				
block script