extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setQuote = 1;
	- var setTitle = 'Комбо-наборы'
	- var setHeader = 'title-1'

block content
	.bildboard
		.bildboard__bg
			.swiper-wrapper
				.bildboard__item.swiper-slide(style="background-image: url('/img/bildboard.jpg')")
				.bildboard__item.swiper-slide(style="background-image: url('/img/bildboard.jpg')")
		.bildboard__slider
			.swiper-wrapper
				.swiper-slide
					.bildboard__container.container
						.bildboard__inner
							.bildboard__quote Надоела обыденность?
							.bildboard__title Попробуйте Наши новинки
							.bildboard__txt Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке новых предложений. 
							a(href="javascript:void(0);").btn.btn--big.btn--orange Посмотреть меню
				.swiper-slide
					.bildboard__container.container
						.bildboard__inner
							.bildboard__quote Надоела обыденность 2?
							.bildboard__title Попробуйте Наши новинки
							.bildboard__txt Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке новых предложений. 
							a(href="javascript:void(0);").btn.btn--big.btn--orange Посмотреть меню
			.bildboard__pagination

		#scene.elements
			.elements__item(data-depth="0.05")
				img(src="./img/elements/el1.png")
			.elements__item(data-depth="0.1")
				img(src="./img/elements/el2.png")
			.elements__item(data-depth="0.1")
				img(src="./img/elements/el3.png")
			.elements__item(data-depth="0.05")
				img(src="./img/elements/el4.png")
			.elements__item(data-depth="0.2")
				img(src="./img/elements/el5.png")
			.elements__item(data-depth="0.1")
				img(src="./img/elements/el2.png")
	include ../modules/set
	.dish
		.dish__container.container
			.dish__inner
				.dish__left
					.dish__bloc.dish__bloc--top
						.dish__title.title-3 Хиты продаж
						.dish__text Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа позиций.
					.dish__bloc.dish__bloc--bottom
						.dish__text Идейные соображения высшего порядка, а также консультация.
						a(href="javascript:void(0);").dish__link Основное меню
				.dish__right
					.dish__cover
						.dish-slider
							.swiper-wrapper
								.dish__box.swiper-slide.js_cart-item(data-cart-id="77")
									.dish__image
										img.js_cart-item__image(src="./img/index/dish.png" alt="")
									.dish__note
										.dish__top
											.dish__article.js_cart-item__name Садж из индейки
											.dish__weight.js_cart-item__weight 450г
										.dish__text.dish__text--word.js_cart-item__text Таким образом начало повседневной работы по формированию позиции позволяет оценить.
										.dish__info
											.dish__price.js_cart-item__cost 1301 ₽
											include ../modules/add-cart
									//- include ../modules/popup-card
							
								
								.dish__box.swiper-slide.js_cart-item(data-cart-id="88")
									.dish__image
										img.js_cart-item__image(src="./img/index/dish.png" alt="")
									.dish__note
										.dish__top
											.dish__article.js_cart-item__name Садж из индейки 2
											.dish__weight.js_cart-item__weight 450г
										.dish__text.dish__text--word.js_cart-item__text Таким образом начало повседневной работы по формированию позиции позволяет оценить.
										.dish__info
											.dish__price.js_cart-item__cost 1301 ₽
											include ../modules/add-cart
									//- include ../modules/popup-card
							
							.dish__arrow
								.arr.arr--prev
									+svg('arrow')
								.dish__pagination
								.arr.arr--next
									+svg('arrow')
			.dish__decor
				.dish__el(style="background-image: url('/img/decor/d1.svg')")
				.dish__el(style="background-image: url('/img/decor/d2.svg')")
		#scene_dish.elements
			.elements__item(data-depth="0.005")
				img(src="./img/elements/el9.png")
			.elements__item(data-depth="0.09")
				img(src="./img/elements/el10.png")
			.elements__item(data-depth="0.05")
				img(src="./img/elements/el11.png")
			.elements__item(data-depth="0.03")
				img(src="./img/elements/el22.png")
			.elements__item(data-depth="0.05")
				img(src="./img/elements/el10.png")
			.elements__item(data-depth="0.03")
				img(src="./img/elements/el12.png")
			.elements__item(data-depth="0.005")
				img(src="./img/elements/el13.png")
			.elements__item(data-depth="0.09")
				img(src="./img/elements/el14.png")
	.category
		.category__container.container
			.category__title.title-3 Популярные категории
			.category__quote С другой стороны постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных условий.
			.category__cover
				.category__items
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic1")
						.btn__txt Холодные закуски
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic2")
						.btn__txt Шаурма на углях
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic3")
						.btn__txt Маринованное мясо
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic4")
						.btn__txt Хинкали и пасты
					
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic5")
						.btn__txt Садж
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic6")
						.btn__txt Десерты
					a(href="menu.html").category__item.btn.btn--big.btn--white 
						.btn__ic
							+svg("ic7")
						.btn__txt Горячие блюда
	include ../modules/comment
	include ../modules/map



block script