extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setQuote = 1;

block content
	.order.mf-margin
		.order__container.container 
			.order__title.title-1 Оформление заказа
			.order__quote Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании систем массового участия.
	form.order-form.js-form
		.order-form__container.container
			.order-form__bloc
				.order-form__wrapper
					<div class="order-form__delivery">
						<input id="radio-1" type="radio" name="radio" value="1" checked>
						<label for="radio-1">Доставка</label>
					</div>
					<div class="order-form__delivery">
						<input id="radio-2" type="radio" name="radio" value="2">
						<label for="radio-2">Самовывоз</label>
					</div>
				.order-form__text *При заказе на 1500₽ осуществляется бесплатная доставка
			.order-form__grid
				.order-form__left
					.order-form__module
						.order-form__article Контактные данные
						.order-form__cover
							.order-form__group
								.order-form__box
									.order-form__label Имя*
									input(type="text" name="name" placeholder="Введите имя" ).order-form__field.field.field--name
								.order-form__box
									.order-form__label Фамилия*
									input(type="text" name="secondname" placeholder="Введите фамилию" ).order-form__field.field.field--lastname
							.order-form__group
								.order-form__box
									.order-form__label Адрес электронной почты*
									input(type="text" name="email" placeholder="Email" ).order-form__field.field.field--email
								.order-form__box
									.order-form__label Контактный телефон*
									input(type="text" name="phone" placeholder="+7 (___) ___-__-__" ).order-form__field.field.field--phone.js-mask-phone
					.order-form__module.order-form__module--detail
						.order-form__article Детали бронирования
						.order-form__cover
							.order-form__group
								.order-form__box.order-form__box--long
									.order-form__label Адрес*
									input(type="text" name="adrea" placeholder="ул.Гагарина 39" ).order-form__field.field.field--adres
							.order-form__group
								.order-form__box
									.order-form__label Подъезд*
									input(type="number" min="1" name="corpus" placeholder="2" ).order-form__field.field.field--corpus
								.order-form__box
									.order-form__label Квартира*
									input(type="number" min="1" name="flat" placeholder="25" ).order-form__field.field.field--flat
								.order-form__box
									.order-form__label Этаж
									input(type="number" min="1" name="floor" placeholder="2" ).order-form__field.field.field--floor
							.order-form__group
								.order-form__box.order-form__box--long.order-form__box--comment
									.order-form__label Комментарий к заказу
									textarea.order-form__textarea
				.order-form__right
					.order-form__unit.order-form__unit--heading
						.order-form__title Ваш заказ:
					.order-form__unit.order-form__unit--list.js-order_list
						.order-form__item.js-order_list__template(style="display:none")
							.order-form__name.js_order-item__name Хачапури по-мегрельски
							.order-form__qty.js_order-item__count 1 шт.
							.order-form__price.js_order-item__cost 450 ₽
					.order-form__unit.order-form__unit--sum 
						.order-form__txt Общая сумма заказа:
						.order-form__sum <span class="js_cart-total__cost">1800</span><span class="symbol"> ₽</span>
					.order-form__unit.order-form__unit--payment 
						<div class="order-form__radio">
							<input id="radio-3" type="radio" name="radio2" value="1" checked>
							<label for="radio-3">Оплата наличными курьеру</label>
						</div>
						<div class="order-form__radio">
							<input id="radio-4" type="radio" name="radio2" value="2">
							<label for="radio-4">Оплата картой курьеру</label>
						</div>
						<div class="order-form__radio">
							<input id="radio-5" type="radio" name="radio2" value="2">
							<label for="radio-5">Оплата онлайн</label>
						</div>
					.order-form__unit.order-form__unit--submit
						button(type="submit").btn.btn--big.btn--orange Подтвердить заказ
					.order-form__note Нажимая на кнопку “Подтвердить заказ”, Вы даете согласие на обработку своих персональных данных	
						
	
				
block script