.map {
    // position: relative;
    height: 842px;
    margin-top: 65px;

    @media(max-width: 880px) {
        height: 1200px;
    }

    &__container {
        height: 100%;
    }

    &__unique {
        position: relative;
        height: 100%;

        &--tab {
            height: 645px;

            @media(max-width: 500px) {
                height: 777px;
            }
        }
    }

    &__left {
        max-width: 548px;
        width: 100%;
        height: 100%;

        @media(max-width: 1235px) {
            max-width: 452px;
        }

        @media(max-width: 1120px) {
            max-width: 356px;
        }

        @media(max-width: 1024px) {
            max-width: 228px;
        }

        @media(max-width: 880px) {
            max-width: 0;
            transform: translateY(300px);
        }
    }

    &__right {
        max-width: 732px;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: translateY(70px);
        height: 0;

        @media(max-width: 880px) {
            max-width: 100%;
            padding-top: 0;
        }
    }

    &__grid {
        height: 100%;
        display: flex;
    }

    #map {
        // position: absolute;
        height: 100%;
        width: 100%;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        width: calc(100% + 1052px);
        height: 100%;
        background-color: $gray;
        z-index: 1;
        right: 0;
        left: -320px;


        @media(max-width: 880px) {
            // width: calc(100% + 30px);
            left: -30px;
            height: calc(100% - 300px);
        }

    }
}